.buttonclass {
    margin-top: 50px;
    margin-left: 50px;
    background-color: grey;
    color: yellow;
    border-color: coral;
    width: 250px;
    height: 30px;
}

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}
.lastname{
    margin-left: 30%;
}
.tdstyle {
    text-align: center;
    width: 120px;
    font-size: 15px;
}

.trstyle {
    text-align: center;
    font-size: 15px;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}